body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.perfil {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.perfil img {
    width: 300px;
    object-fit: cover;
}

.perfil h1 {
    font-size: 24px;
    margin: 15px 0;
}

.perfil p {
    font-size: 14px;
    color: #666;
}